{% if message %}
    <script>
    alert('{{ message }}');
    </script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <title>Sign</title>
    </head>
    <body>  
        <form action="/postSignUp/" method="post">
            {% csrf_token %}
            Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Enter your name" name="name"><br><br>
            Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="email" placeholder="Enter Email" name="email"><br><br>
            Password:
            <input type="password" placeholder="Enter Password" name="password"><br><br>
            <input type="submit" value ="Sign Up">
        </form>
    </body>
</html>